<h1>Event Listing</h1>
<ul>
<% @events.each do | event | %>
	<li><%= link_to event.name, event_path(event) %></li>
	<li><%= event.location %></li>
	<li><%= event.description %></li>
	<li><%= event.price %></li>
<% end %>
</ul>